<section>

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>
    Welcome to Jungle! We collect unique artifacts found in the depths of jungles all
    over the world and sell them here for your convenience. 
  </p>

</section>
